<h4>Marks for <%= current_user.full_name%> </h4>
<%
=begin%>
 This is the page which student can see his or her marks for evey assignment
<%
=end%>
<div class="grid-mark">
        <p class="grid-label">in the course <%= @course.title%></p>
</div>
<div class="divSpace-small"> </div>
<div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        var option = {
            title: {
                text: "<%= current_user.full_name%>'s Marks'"
            },
            tooltip: {},
            legend: {
                data:['Mark']
            },
            xAxis: {
                data: <%= @assignments_array %>
            },
            yAxis: {},
            series: [{
                name: 'Mark',
                type: 'bar',
                data:  <%= @marks_array%>
            }]
        };
        myChart.setOption(option);
    </script>
<div class="divSpace-small"> </div>
<table class="user-table">
    <tbody >
        <tr>
            <th> Assignment </th>
            <th> Mark </th>
        </tr>
<% @marks.each do |mark| %>
<tr>
    <td><%= mark.assignment_name %></td>
    <td>
    <%if (mark.id ) %>
            <%= mark.grade %>
    <% else %>
            no mark yet
    <%end%>
    </td>
</tr>
<% end %>

<%= will_paginate @marks %>
