<h3>User Details</h3>

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title"><%= @user.full_name%> in the course <%= @course.title%></h5>
    </div>
</div>

<% @assignments.each do |assignment| %>
<div style="display:flex;justify-content:space-around">
    <span><%= assignment.name %></span></td>
    <%if (assignment.course_id ) %>
            <%= form_with url: "/courses/#{assignment.course_id }/assignments/#{assignment.id}/course_assignments/#{assignment.relation_ship_id}", local: true, method: 'PATCH' do |f|%>
                <%= f.date_field :due_date, value:assignment.due_date.to_date%>
                <%= f.collection_select :user_id, @markers, :id, :full_name, :selected => assignment.user_id %>
            <%= f.submit "Edit" %>
            <% end%>
    <% else %>
            <%= form_with url: "/courses/#{@course.id }/assignments/#{assignment.id}/course_assignments", local: true do |f|%>
                <%= f.date_field :due_date%>
                <%= f.hidden_field :assignment_id, value: assignment.id%>
                <%= f.collection_select :user_id, @markers, :id, :full_name %>
            <%= f.submit "Add" %>
            <% end%>
    <%end%>

</div>
<% end %>

<%= will_paginate @assignments %>
