<h4>Marks for <%= @user.full_name%> </h4>
<%
=begin%>
 This is the page which instructor can CRUD student's mark 
<%
=end%>

    <div class="grid-mark">
        <p class="grid-label"> Course </p>
         <p><%= @course.title%></p>
    </div>


<div class="divSpace-small"> </div>



<table class="user-table">
    <tbody >
        <tr>
            <th> Assignment </th>
            <th> Mark </th>
            <% if can? :manage, :all%>
                <th> Edit </th>
                <th> Delete </th>
            <% end %>
        </tr>

        <% @marks.each do |mark| %>
            <tr>
                <td><%= link_to mark.assignment_name , assignment_path(mark.assignment_id), class:"user-link"%></td>

                 <%if (mark.id ) %>

                <td>
                    <%= form_with url: "/course_assignments/#{mark.relation_ship_id}/users/#{mark.student_id}/marks/#{mark.id}", local: true, method: 'PATCH' do |f|%>
                    <%= f.hidden_field :course_id, value: mark.course_id%>
                    <%= f.text_field :grade, value: mark.grade, class:"list" %>

                </td>


                   <td> <%= f.submit "Edit", class:"btn" %>  </td>
                <% end%> 

                <td>
                   <%= form_with url: "/marks/#{mark.id}", local: true, method: 'DELETE' do |f|%>
                    <%= f.submit "Delete", class:"btn" %>
                </td>
            <% end%>
           
    <% else %>
    <td>
            <%= form_with url: "/course_assignments/#{mark.relation_ship_id}/users/#{@user.id}/marks", local: true do |f|%>
                <%= f.hidden_field :course_id, value: mark.course_id%>
                <%= f.text_field :grade, class:"list"%>
                </td>
                <td>
                <%= f.submit "Add", class:"btn" %>
                </td>
                <td>
            <% end%>
    </td>
    <%end%>

</tr>
<% end %>
</tbody>
</table>
<%= will_paginate @marks %>
