<h4>Login</h4>
<%= form_with url: sessions_path, local: true do |f| %>
<div class="form">
        <%= f.label :email, class:'grid-label' %>
        <%= f.email_field :email, class:"grid-field" %>
    
        <%= f.label :password, class:'grid-label' %>
        <%= f.password_field :password, class:'grid-field' %>

    <%= f.submit "Login", class:"grid-button btn" %>
</div>
<% end %>