
<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg|%>
    <li><%=msg%></li>
    <% end %>
  </ul>
<% else %>
   <% @current_password = @user.password  %>
<%end%>

<h4>Change password</h4>
<%= form_for @user, method: :patch do |f|%>

  <div class="form-password">

      <%= f.label :current_password, class:"grid-label" %>
      <%= f.password_field :current_password, class:"grid-field" %>      
    
      <%= f.label :password, class:"grid-label" %>
      <%= f.password_field :password, class:"grid-field" %>      

      <%= f.label :password_confirmation, class:"grid-label" %>
      <%= f.password_field :password_confirmation, class:"grid-field" %>    

      <%= f.submit 'Submit', class:"grid-button btn" %>

  </div>
<%end%>