<!-- <h1>Edit password</h1> -->
<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg|%>
    <li><%=msg%></li>
    <% end %>
  </ul>
<% else %>
  <!-- @current_password = user.password -->
<%end%>


<%= form_for @user, method: :patch do |f|%>
  <div class="user_input">
    <div class="input_field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password %>      
    </div>
    <div class="input_field">
      <%= f.label :password %>
      <%= f.password_field :password %>      
    </div>
    <div class="input_field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>      
    </div>
    <%= f.submit 'Submit', :class => 'button btn btn-outline-primary' %>
    <!-- < %= f.submit ‘Create User’, class: ‘buttons’, :onclick => “validate_user_form_and_submit()” % > -->
  </div>
<%end%>