

<%= link_to "Click to create new user", new_user_path, class:'course-link'%>

<div class="divSpace"> </div>

<h4>Users List</h4>

	<p> ** Click on name to go to users infornation page. ** </p>

<div class="divSpace"></div>
<table class="user-table">
<tbody >
<tr>
<th> Name </th>
<th> Id </th>
<th> Role </th>
<th> Course </th>
<th> Status </th>
		<% if can? :manage, :all%>
		<th> Edit </th>
		<% end %>
<tr>
<% @users.each do |user| %>
   <tr>
      <td>  <%= link_to user.full_name, user_path(user.id), class:"user-link" %> </td>
			<td>  <%= user.id %> </td>
			<td>  <%= user.role.role %> </td>
			<td>  <% user.courses.each do |course|  %>
						<%= course.title %> 
						<% end %> </td>
			<td> 
				<% if user.status == true %>
						 active
				<% else %>
					inactive 
				<% end %>
				 </td>
				 <td>
						<% if can? :manage, :all%>
						<%= link_to "Edit Info", edit_user_path(user.id), class:"user-link" %>
						<% end %>
						</td>
    </tr>

<% end %>



</tbody>

</table>

<!-- Apply filter based on User roles like students, instructors, and admins -->
<!-- Job.includes(:attachments).where(file_type: ["logo", "image"]) -->