<%# <h4>User Information Page</h4> %>
<div class="divSpace"> </div>

<div class="user-div">

<%= image_tag "#{@user.picture_url}", class:"grid-image user-pic" %>

<p> First name: </p>
<p> <%= @user.first_name %> </p>

<p> Last name: </p>
<p> <%= @user.last_name %> </p>

<p> Role: </p>
<p> <%= @user.role.role %> </p>

<p> Course: </p>
  <% @user.courses.each do |course|  %>
<p class="grid-course"> <%= course.title %> </p> 
<% end %>
<p class="grid-label"> Address: </p>
<p class="grid-address"> <%= @user.address %> </p>

<p class="grid-label"> Phone: </p>
<p class="grid-address"> <%= @user.phone_number %> </p>


</div>
<div class="divSpace"> </div>
<%= link_to "Click to change password", root_path, class:"grid-password" %>