<%# <h4>User Information Page</h4> %>
<div class="divSpace"> </div>

<div class="user-div">

<%= image_tag "#{@user.picture_url}", class:"grid-image user-pic" %>

<p class="grid-user-label"> First name: </p>
<p> <%= @user.first_name %> </p>

<p class="grid-user-label"> Last name: </p>
<p> <%= @user.last_name %> </p>

<p class="grid-user-label"> Role: </p>
<p> <%= @user.role.role %> </p>

<p class="grid-user-label"> Course: </p>
  <% @user.courses.each do |course|  %>
<p class="grid-course"> <%= course.title %> </p> 
<% end %>
<p class="grid-user-label"> Address: </p>
<p class="grid-user-info"> <%= @user.address %> </p>

<p class="grid-user-label"> Phone: </p>
<p class="grid-user-info"> <%= @user.phone_number %> </p>

<p class="grid-user-label"> Email: </p>
<p class="grid-user-info"> <%= @user.email %> </p>

<p class="grid-user-label"> Status: </p>
<p class="grid-user-info">
  <% if @user.status %> active 
  <% else %>
  inactive
  <% end %>

<p class="grid-user-label"> Join Date: </p>
<p class="grid-user-info"> <%= (@user.created_at).to_formatted_s(:long)  %> </p>
   </p>

<% if can? :manage, :all%>
    <%= link_to "Edit Info", edit_user_path(@user.id), class:"user-link btn-edit" %>
  <% end %>


</div>


<div class="divSpace"> </div>
<%= link_to "Click to change password", edit_user_password_path(current_user), class:"grid-password" %>