<h4>Show Page</h4>
<div class="divSpace">
  <div class="user-div">

    <%=image_tag "#{@course.picture_url}", class:" user-pic"%>
<p class="grid-user-label"> Class: </p>
 <p>   <%= @course.title %></p>


    <p  class="grid-user-label">Program: </p>
    <p> <%= @program %></p>
    <p  class="grid-user-label"> Session: </p>
    <p> <%= (@course.session) %></p>
    <p  class="grid-user-label"> End Date:</p> 
    <p> <%= (@course.end).to_formatted_s(:long) %></p>
    <p  class="grid-user-label">Status:  </p>
    <p> <%= @status %></p>
    <p class="grid-user-label"> Slack Group: </p>
    <p> <%= @course.slack_group %></p>
    <div class="grid-user-info">
    <%= link_to "Your Marks", marks_path(@course, current_user), class:"course-button btn" %>
    <%= link_to "Add Assignment", course_assignments_path(@course), class:"course-button btn" %>
    <%= link_to "Edit", edit_course_path(@course), class:"course-button btn" %>
    <%= link_to "Delete", course_path(@course), method: :delete, class:"course-button btn", data:{confirm: "Are you sure?"}%>
    </div>
  </div>


<!-- marks_path(@course, @user) -->
<!-- /courses/:course_id/users/:user_id/marks -->
<!-- get "courses/:course_id/users/:user_id/marks" => "courses#marks" -->

<!-- course_assignments_path -->
<!-- /courses/:course_id/course_assignments -->


<!-- match "courses/:course_id/users/:user_id/marks" => "courses#marks" -->