<h1>Show Page</h1>
  <div>
    <img src="<%= @course.picture_url%>">
    <h3>Class: <%= @course.title %></h3>
    <p>Session: <%= @course.session %></p>
    <p>Slack Group: <%= @course.slack_group %></p>
    <p>Start Date: <%= @course.start %></p>
    <p>End Date: <%= @course.end %></p>
    <p>Program: <%= @program %></p>
    <p>Status: <%= @status %></p>
    <%= link_to "Edit", edit_course_path(@course)%>
    <%= link_to "Delete", course_path(@course), method: :delete, data:{confirm: "Are you sure?"}%>
  </div>

  
  <div>
    <h3>Enrolled Students</h3>
    <ul class="enrolled-students-list">
    <% if @enrolled_students != nil %>
      <% @enrolled_students.each do |enrolled_student| %>
        <li>
          <p>
            <>
          </p>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>

  <div>
    <h3>List of All Students</h3>
    <p>Select students from the following list to be added to above class:</p><br />

    <% if @students != nil %>
      <%= form_with(model: [@course, @enrollment], local: true) do |f|%>
        <table class="students-table">
        <% number = 1 %>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Type</th>
            <th>Select</th>
          </tr>
          <% @students.each do |student| %>
          <tr>
            <td><%= number %></td>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.email %></td>
            <td><%= student.role.role%></td>
            <td><%= f.check_box :user_id %></td>
          </tr>
          <%number = number + 1%>
          <% end %>
        </table>
        <%= f.submit "Add Student"%>
        <% end %>
      <% end %>

  </div>
