<h3>Attendances Details</h3>

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title"><%= @course.title%> Date: <%= params["date_val"]%></h5>
        <%= form_with url: "/courses/#{@course.id}/attendances", local: true, method: 'GET' do |f|%>
                <input type="date" name="date_val" id="date_val">
                <%= f.submit "Search" %>
            <% end%>
        
    </div>
</div>

<% @students.each do |student| %>
<div style="display:flex;justify-content:space-around">
    <span><%= student.full_name %></span>
    <%if (student.attendance_id ) %>
            <%= form_with url: "/courses/#{student.course_id}/attendances/#{student.attendance_id}", local: true, method: 'PATCH' do |f|%>
                <label for="am">AM:</label>
                <% [ 'no class', 'absent', 'present' ].each_with_index do |am,index| %>
                    <%= radio_button_tag 'am', index, student.am == index %>
                    <%= am %>
                <% end %>
                <label for="pm">PM:</label>
                <% [ 'no class', 'absent', 'present' ].each_with_index do |pm,index| %>
                    <%= radio_button_tag 'pm', index, student.pm == index %>
                    <%= pm %>
                <% end %>
                <label for="evening">Evening:</label>
                <% [ 'no class', 'absent', 'present' ].each_with_index do |evening,index| %>
                    <%= radio_button_tag 'evening', index, student.evening == index %>
                    <%= evening %>
                <% end %>
                <%= f.submit "Edit" %>
            <% end%>
            <%= form_with url: "/attendances/#{student.attendance_id}", local: true, method: 'DELETE' do |f|%>
                <%= f.submit "Delete" %>
            <% end%>
    <% else %>
            <%= form_with url: "/courses/#{@course.id}/attendances", local: true do |f|%>
                <label for="am">AM:</label>
                <% [ 'no class', 'absent', 'present' ].each_with_index do |am,index| %>
                    <%= radio_button_tag 'am', index %>
                    <%= am %>
                <% end %>
                <label for="pm">PM:</label>
                <% [ 'no class', 'absent', 'present' ].each_with_index do |pm,index| %>
                    <%= radio_button_tag 'pm', index %>
                    <%= pm %>
                <% end %>
                <label for="evening">Evening:</label>
                <% [ 'no class', 'absent', 'present' ].each_with_index do |evening,index| %>
                    <%= radio_button_tag 'evening', index %>
                    <%= evening %>
                <% end %>
                <%= f.hidden_field :user_id, value: student.user_id%>
                <%= f.hidden_field :date, value: params["date_val"]%>
            <%= f.submit "Add" %>
            <% end%>
    <%end%>

</div>
<% end %>
<%#= will_paginate @students %>