<!DOCTYPE html>
<html>
  <head>
    <title>AdminGroupProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_tag "application" %>
    <%= yield(:head) %>
  </head>

  <body>
  <article>
    <div class="nav-bar">

      <div class="nav-user">
      <%= link_to image_tag("cc-logo.png"), "https://codecore.ca/", alt:"corecord Icon", class:"icon" %>



      
<% if user_signed_in? %>

      <div class="user"> 
        <%= link_to "#{current_user.first_name}", user_path(current_user.id), class:"nav-item"  %>
      </div>

 <%= link_to "Home", root_path, class:"nav-item"  %>
      <%= link_to "Course", courses_path, class:"nav-item"  %>
 
      <%= link_to "Assigment", assignments_path, class:"nav-item"  %>     

  
      <%= link_to "Marks",  marks_path(current_user.courses.ids, current_user), class:"nav-item"  %>

    <%#div class="nav-item">  Attendance </div>
        <%#= link_to "Attendance", attendance_path, class:"nav-item"  %>
     
  
        <%= button_to "Log Out", session_path(current_user.id), :method=>:delete, :class=>:destroy, class:"nav-item nav-button" %>
    </div>
<% else %>

 <%= link_to "Home", root_path, class:"nav-item"  %>
 
          <%= link_to "Login",  new_session_path, class:"nav-item"  %>

  </div>
<% end %>

    <div class="nav-general">
    
         <%= link_to "Programs", programs_path, class:"nav-item"  %>

    </div>

   </div> 

  <div class='content'>
  <% if can? :manage, :all%>
  <div class="admin-nav">
    <%#= link_to "Course Attendances", course_attendances_path, class:"nav-item"%>
    <%= link_to "Programs", programs_path, class:"nav-item"  %>
    <%= link_to "Course", courses_path, class:"nav-item"  %>
    <%= link_to "Users", users_path, class:"nav-item"  %>
    <%= link_to "Assigment", assignments_path, class:"nav-item"  %>   

  </div>

 <%end%>
 <div class="divSpace"> </div>
    <%= yield %>

  </div>



</article>
</body>
</html>
