<!DOCTYPE html>
<html>
  <head>
    <title>AdminGroupProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <article>
    <div class="nav-bar">

    <div class="nav-user">
    <%= link_to image_tag("cc-logo.png"), "https://codecore.ca/", alt:"corecord Icon", class:"icon" %>



      
<% if user_signed_in? %>

      <div class="user"> 
        <%= current_user.first_name %>
      </div>


      <div class="nav-item">  Course </div>
        <%#= link_to "Course", course_path, class:"nav-item"  %>
 
       <div class="nav-item">  Assignment </div>
        <%#= link_to "Assigment", assignment_path, class:"nav-item"  %>     

      <div class="nav-item">  Marks </div>
        <%#= link_to "Marks", marks_path, class:"nav-item"  %>

      <div class="nav-item">  Attendance </div>
        <%#= link_to "Attendance", attendance_path, class:"nav-item"  %>
     
        <%= link_to "Log Out", sessions_path, method: :destroy, data: {confirm: "Are you sure you want to log out?"}, class:"nav-item"  %>

    </div>
<% else %>

          <%= link_to "Login",  new_session_path, class:"nav-item"  %>

<% end %>


    <div class="nav-general">
      <div class="nav-item"> Programs </div>
        <%#= link_to "Programs", program_path, class:"nav-item"  %>
             <div class="nav-item"> Contract </div>
        <%#= link_to "Contract", contract_path, class:"nav-item"  %>
    </div>

   </div> 

  <div class='content'>
  
  <div class="admin-nav">
    <div>Programs</div>
    <div>Courses</div>
    <div>Users</div>

  </div>

    <%= yield %>

  </div>



</article>
</body>
</html>
